/**
 *  12 columns
 */
/**
 *  14 columns
 */
/*
$grids: 16;
$gutters: 1/4;
//*/
/**
 *  Break Points Varibles
 */
/** Small Smart phone width **/
/** Medium smart phone width **/
/** Smart phone width **/
/** Large smart phone width **/
/** Tablet width **/
/** Small Desktop width **/
/** Desktop width **/
/** Desktop width **/
/* line 1, ../sass/layouts/_page.scss */
.page {
  clear: both; }

/* line 3, ../sass/layouts/_scaffolding.scss */
body {
  margin: 0; }

/*
@mixin borderOne($width, $type, $color, $rounded:"") {
  border: $width $type $color;
  border: $width $type $color;
  @if  $rounded != "" {
    @include border-radius($rounded);
  }
}


@mixin borderTwo($width, $type, $color, $rounded:"") {
  border: $width $type $color;
  border: $width $type $color;
  @if  $rounded != "" {
    @include border-radius($rounded);
  }
}

@mixin borderThree($width, $type, $color, $rounded:"") {
  border: $width $type $color;
  border: $width $type $color;
  @if  $rounded != "" {
    @include border-radius($rounded);
  }
}
//*/
/*!
 *  Font Awesome 3.0.2
 *  the iconic font designed for use with Twitter Bootstrap
 *  -------------------------------------------------------
 *  The full suite of pictographic icons, examples, and documentation
 *  can be found at: http://fortawesome.github.com/Font-Awesome/
 *
 *  License
 *  -------------------------------------------------------
 *  - The Font Awesome font is licensed under the SIL Open Font License - http://scripts.sil.org/OFL
 *  - Font Awesome CSS, LESS, and SASS files are licensed under the MIT License -
 *    http://opensource.org/licenses/mit-license.html
 *  - The Font Awesome pictograms are licensed under the CC BY 3.0 License - http://creativecommons.org/licenses/by/3.0/
 *  - Attribution is no longer required in Font Awesome 3.0, but much appreciated:
 *    "Font Awesome by Dave Gandy - http://fortawesome.github.com/Font-Awesome"
 *
 *  Contact
 *  -------------------------------------------------------
 *  Email: dave@davegandy.com
 *  Twitter: http://twitter.com/fortaweso_me
 *  Work: Lead Product Designer @ http://kyruus.com
 */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=3.0.1");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=3.0.1") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff?v=3.0.1") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=3.0.1") format("truetype"), url("../fonts/fontawesome-webfont.svg#FontAwesome") format("svg");
  font-weight: normal;
  font-style: normal; }
/*  Font Awesome styles
    ------------------------------------------------------- */
/* makes the font 33% larger relative to the icon container */
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg); } }
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg); } }
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg); }
  100% {
    -o-transform: rotate(359deg); } }
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(359deg); } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(359deg); } }
/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
/* \f020 doesn't work in Safari. all shifted one down */
/*
@mixin borderOne($width, $type, $color, $rounded:"") {
  border: $width $type $color;
  border: $width $type $color;
  @if  $rounded != "" {
    @include border-radius($rounded);
  }
}


@mixin borderTwo($width, $type, $color, $rounded:"") {
  border: $width $type $color;
  border: $width $type $color;
  @if  $rounded != "" {
    @include border-radius($rounded);
  }
}

@mixin borderThree($width, $type, $color, $rounded:"") {
  border: $width $type $color;
  border: $width $type $color;
  @if  $rounded != "" {
    @include border-radius($rounded);
  }
}
//*/
/* line 1, ../sass/base/_forms.scss */
input[type="submit"],
input[type="text"],
input[type="password"] {
  display: block;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 18px; }

/* line 9, ../sass/base/_forms.scss */
input[type="submit"] {
  border: 0px;
  padding: 4px;
  color: white;
  border: 0px;
  background-color: #18316a; }

/* line 17, ../sass/base/_forms.scss */
input[type="text"],
input[type="password"] {
  padding: 4px;
  border: 1px solid #c4c4c4;
  width: 70%; }

/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 1, ../sass/base/_mothership_overrides.scss */
header[role="banner"] {
  border-bottom: 0px solid white; }

/* line 2, ../sass/base/_system_overrides.scss */
ul.primary {
  border-bottom: 0px solid white;
  margin: 0;
  padding: 0; }

/* line 9, ../sass/base/_system_overrides.scss */
ul.primary li a {
  background-color: white;
  border: 0px solid white;
  height: auto;
  margin-right: 0;
  padding: 0; }

/* line 17, ../sass/base/_system_overrides.scss */
ul.primary li a:hover {
  background-color: white;
  border-color: white;
  border-bottom-color: white; }

/* line 24, ../sass/base/_system_overrides.scss */
ul.primary li.active a {
  background-color: white;
  border: 0px solid white; }

/* line 31, ../sass/base/_system_overrides.scss */
.marker, .form-required {
  color: gray; }

/* line 34, ../sass/base/_system_overrides.scss */
.form-item,
.form-actions {
  margin-top: 0;
  margin-bottom: 0; }

/* line 2, ../sass/base/_typography.scss */
body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: gray;
  background: white; }

/* line 10, ../sass/base/_typography.scss */
a {
  color: #18316a; }
  /* line 18, ../../../../../../../../../../../../home/work/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
  a:visited {
    color: #18316a; }
  /* line 21, ../../../../../../../../../../../../home/work/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
  a:focus {
    color: #18316a; }
  /* line 24, ../../../../../../../../../../../../home/work/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
  a:hover {
    color: #18316a; }
  /* line 27, ../../../../../../../../../../../../home/work/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
  a:active {
    color: #18316a; }

/* line 11, ../sass/base/_typography.scss */
.active, .active-trail {
  font-weight: normal; }

/* line 18, ../sass/base/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  color: orange;
  font-size: 25px; }
  /* line 21, ../sass/base/_typography.scss */
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: orange; }
    /* line 18, ../../../../../../../../../../../../home/work/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
      color: orange; }
    /* line 21, ../../../../../../../../../../../../home/work/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    h1 a:focus, h2 a:focus, h3 a:focus, h4 a:focus, h5 a:focus, h6 a:focus {
      color: orange; }
    /* line 24, ../../../../../../../../../../../../home/work/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
      color: orange; }
    /* line 27, ../../../../../../../../../../../../home/work/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    h1 a:active, h2 a:active, h3 a:active, h4 a:active, h5 a:active, h6 a:active {
      color: orange; }

/*
h1 {
  color:$h1Normal;
  a {  @include link-colors($h1Normal,$h1Hover,$h1Active,$h1Visited,$h1Focus);}
}
//*/
/*
h2 {
  color:$h2Normal;
  a {  @include link-colors($h2Normal,$h2Hover,$h2Active,$h2Visited,$h2Focus);}
}
//*/
/*
h3 {
  color:$h3Normal;
  a {  @include link-colors($h3Normal,$h3Hover,$h3Active,$h3Visited,$h3Focus);}
}
//*/
/*
h4 {
  color:$h4Normal;
  a {  @include link-colors($h4Normal,$h4Hover,$h4Active,$h4Visited,$h4Focus);}
}
//*/
/*
h5 {
  color:$h5Normal;
  a {  @include link-colors($h5Normal,$h5Hover,$h5Active,$h5Visited,$h5Focus);}
}
//*/
/*
h6 {
  color:$h6Normal;
  a {  @include link-colors($h6Normal,$h6Hover,$h6Active,$h6Visited,$h6Focus);}
}
//*/
/* line 3, ../sass/components/_breadcrumb.scss */
.page-user .breadcrumb {
  display: none; }

/* line 1, ../sass/components/_header.scss */
hgroup {
  display: none; }

/* line 5, ../sass/components/_header.scss */
.siteinfo {
  padding: 15px 0 0 30px; }

/* line 2, ../sass/components/_login.scss */
.page-user .header-region,
.page-user .navigation-region {
  display: none; }
/* line 8, ../sass/components/_login.scss */
.page-user .siteinfo figure a {
  display: block;
  width: 100px;
  height: 20px; }
  /* line 12, ../sass/components/_login.scss */
  .page-user .siteinfo figure a img {
    display: none; }
/* line 14, ../sass/components/_login.scss */
.page-user .siteinfo figure a:before {
  content: "Home";
  font-size: 14px; }
/* line 20, ../sass/components/_login.scss */
.page-user .page {
  position: absolute;
  height: 100%;
  width: 100%; }
  /* line 24, ../sass/components/_login.scss */
  .page-user .page > div > h1 {
    width: 230px;
    height: 65px;
    padding: 0;
    margin: 0 auto;
    text-indent: -9999px;
    background: url("../images/mobile/mobile-logo.jpg") repeat-x; }
/* line 35, ../sass/components/_login.scss */
.page-user #main-content {
  width: 100%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }
/* line 43, ../sass/components/_login.scss */
.page-user .page-user #main-content:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }
/* line 52, ../sass/components/_login.scss */
.page-user label, .page-user small {
  display: none; }
/* line 53, ../sass/components/_login.scss */
.page-user ul.primary {
  padding-top: 5px; }
/* line 57, ../sass/components/_login.scss */
.page-user ul.primary li {
  display: inherit;
  width: 100%;
  padding-bottom: 3px; }
  /* line 61, ../sass/components/_login.scss */
  .page-user ul.primary li a {
    display: block;
    width: 100%;
    padding: 10px 0 10px 0;
    color: #b0b0b0;
    background-color: #c4c4c4;
    font-size: 18px;
    text-align: center; }
    /* line 18, ../../../../../../../../../../../../home/work/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    .page-user ul.primary li a:visited {
      color: #b0b0b0; }
    /* line 21, ../../../../../../../../../../../../home/work/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    .page-user ul.primary li a:focus {
      color: white; }
    /* line 24, ../../../../../../../../../../../../home/work/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    .page-user ul.primary li a:hover {
      color: white; }
    /* line 27, ../../../../../../../../../../../../home/work/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    .page-user ul.primary li a:active {
      color: #18316a; }
/* line 77, ../sass/components/_login.scss */
.page-user ul.primary li a.active {
  font-weight: normal;
  color: #18316a; }

/* line 2, ../sass/components/_loginform.scss */
.page-user #user-pass,
.page-user #user-register-form,
.page-user #user-login {
  /* Break Point */ }
  /* line 5, ../sass/components/_loginform.scss */
  .page-user #user-pass .form-required,
  .page-user #user-register-form .form-required,
  .page-user #user-login .form-required {
    clear: both;
    padding: 24px 0 0 0; }
  /* line 10, ../sass/components/_loginform.scss */
  .page-user #user-pass .form-actions,
  .page-user #user-register-form .form-actions,
  .page-user #user-login .form-actions {
    padding-top: 24px; }
  /* line 14, ../sass/components/_loginform.scss */
  .page-user #user-pass input[type="submit"],
  .page-user #user-register-form input[type="submit"],
  .page-user #user-login input[type="submit"] {
    margin: auto;
    width: 130px;
    padding: 8px 0 8px 0; }
  /* line 20, ../sass/components/_loginform.scss */
  .page-user #user-pass input[type="text"],
  .page-user #user-pass input[type="password"],
  .page-user #user-register-form input[type="text"],
  .page-user #user-register-form input[type="password"],
  .page-user #user-login input[type="text"],
  .page-user #user-login input[type="password"] {
    margin: 0 auto;
    padding: 19px 0 19px 35px;
    border: 1px solid #c4c4c4; }

/* line 2, ../sass/components/_navigation.scss */
.navigation-region nav[role="navigation"] {
  position: absolute;
  top: 40px;
  left: 9px;
  width: 25px;
  height: 25px; }

/* line 10, ../sass/components/_navigation.scss */
#collapsed-menu-button {
  background-color: white;
  border: 0px solid white;
  border-radius: 0px;
  cursor: pointer;
  margin: 0;
  padding: 0; }

/* line 19, ../sass/components/_navigation.scss */
body #mobile-menu-wrapper #mobile-menu-inner {
  top: 85px !important; }

/* line 22, ../sass/components/_navigation.scss */
.mobile-menu-button {
  display: block;
  font-size: 25px;
  height: 25px;
  width: 25px;
  overflow: hidden;
  color: #b0b0b0; }
  /* line 1904, ../sass/abstractions/_font-awesome.scss */
  .mobile-menu-button:before {
    content: "\f0c9";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    padding-right: 5px;
    text-decoration: none;
    /* sprites.less reset */
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    width: auto;
    height: auto;
    margin-top: 0;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat; }

/* line 32, ../sass/components/_navigation.scss */
#mobile-menu li, .mobile-menu li {
  border: 0px solid #18316a; }

/* line 36, ../sass/components/_navigation.scss */
.mobile-menu-slide li a,
.mobile-menu-slide li a:focus,
.mobile-menu-slide li a:visited {
  display: block;
  padding: 12px 5% 12px 5% !important;
  color: #b0b0b0;
  background-color: #18316a;
  font-size: 20px; }

/* line 46, ../sass/components/_navigation.scss */
.mobile-menu-slide li a.active-trail,
.mobile-menu-slide li a:hover {
  color: white; }

/* line 4, ../sass/components/_search.scss */
#search-block-form input[type="text"] {
  width: 70%;
  padding: 4px; }
/* line 8, ../sass/components/_search.scss */
#search-block-form input[type="submit"] {
  padding: 4px; }

/* line 2, ../sass/components/_tab_primary.scss */
.tabs li {
  padding: 0; }

/*
body {
   background-color:red;
}
//*/

/*# sourceMappingURL=no-query.css.map */
