/**
 *  12 columns
 */
/**
 *  14 columns
 */
/*
$grids: 16;
$gutters: 1/4;
//*/
/**
 *  Break Points Varibles
 */
/** Small Smart phone width **/
/** Medium smart phone width **/
/** Smart phone width **/
/** Large smart phone width **/
/** Tablet width **/
/** Small destop screen width **/
/** Small Desktop width **/
/** Desktop width **/
/** Desktop width **/
/* line 7, ../sass/layouts/_admin_menu.scss */
body:not(.node-type-page) div[role="main"] {
  width: 100%; }

/* line 11, ../sass/layouts/_admin_menu.scss */
body:not(.node-type-page) .sidebar-second,
body:not(.node-type-page) .sidebar-first {
  display: none; }

/* line 1, ../sass/layouts/_footer.scss */
footer[role="contentinfo"] {
  padding-top: 20px; }

/* line 1, ../sass/layouts/_inner_sidebar_content.scss */
.content {
  clear: both; }

/* line 5, ../sass/layouts/_inner_sidebar_content.scss */
div[class*='sidebar'] h2.title {
  margin-top: 0; }

/* line 1, ../sass/layouts/_scaffolding.scss */
.page,
.navigation,
header[role="banner"],
footer[role="contentinfo"] {
  clear: both; }

/* line 9, ../sass/layouts/_scaffolding.scss */
.navigation {
  padding: 0 5px 0 5px; }

/* line 13, ../sass/layouts/_scaffolding.scss */
.page,
header[role="banner"] {
  padding: 35px 5px 0 5px; }

/* line 1, ../sass/layouts/content/_content.scss */
.content {
  clear: both; }

/* line 4, ../sass/layouts/content/_content_single_column.scss */
.page-admin-appearance div[role="main"] {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }
  /* line 6, ../sass/layouts/content/_content_single_column.scss */
  .page-admin-appearance div[role="main"] article {
    padding: 5px 0px 5px 0; }

/* line 10, ../sass/layouts/content/_content_single_column.scss */
.page-admin-appearance .sidebar-first {
  display: none; }

/* line 14, ../sass/layouts/content/_content_single_column.scss */
.page-admin-appearance .sidebar-second {
  display: none; }

/*
@mixin borderOne($width, $type, $color, $rounded:"") {
  border: $width $type $color;
  border: $width $type $color;
  @if  $rounded != "" {
    @include border-radius($rounded);
  }
}


@mixin borderTwo($width, $type, $color, $rounded:"") {
  border: $width $type $color;
  border: $width $type $color;
  @if  $rounded != "" {
    @include border-radius($rounded);
  }
}

@mixin borderThree($width, $type, $color, $rounded:"") {
  border: $width $type $color;
  border: $width $type $color;
  @if  $rounded != "" {
    @include border-radius($rounded);
  }
}
//*/
/*
@mixin borderOne($width, $type, $color, $rounded:"") {
  border: $width $type $color;
  border: $width $type $color;
  @if  $rounded != "" {
    @include border-radius($rounded);
  }
}


@mixin borderTwo($width, $type, $color, $rounded:"") {
  border: $width $type $color;
  border: $width $type $color;
  @if  $rounded != "" {
    @include border-radius($rounded);
  }
}

@mixin borderThree($width, $type, $color, $rounded:"") {
  border: $width $type $color;
  border: $width $type $color;
  @if  $rounded != "" {
    @include border-radius($rounded);
  }
}
//*/
/*!
 *  Font Awesome 3.0.2
 *  the iconic font designed for use with Twitter Bootstrap
 *  -------------------------------------------------------
 *  The full suite of pictographic icons, examples, and documentation
 *  can be found at: http://fortawesome.github.com/Font-Awesome/
 *
 *  License
 *  -------------------------------------------------------
 *  - The Font Awesome font is licensed under the SIL Open Font License - http://scripts.sil.org/OFL
 *  - Font Awesome CSS, LESS, and SASS files are licensed under the MIT License -
 *    http://opensource.org/licenses/mit-license.html
 *  - The Font Awesome pictograms are licensed under the CC BY 3.0 License - http://creativecommons.org/licenses/by/3.0/
 *  - Attribution is no longer required in Font Awesome 3.0, but much appreciated:
 *    "Font Awesome by Dave Gandy - http://fortawesome.github.com/Font-Awesome"
 *
 *  Contact
 *  -------------------------------------------------------
 *  Email: dave@davegandy.com
 *  Twitter: http://twitter.com/fortaweso_me
 *  Work: Lead Product Designer @ http://kyruus.com
 */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=3.0.1");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=3.0.1") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff?v=3.0.1") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=3.0.1") format("truetype"), url("../fonts/fontawesome-webfont.svg#FontAwesome") format("svg");
  font-weight: normal;
  font-style: normal; }
/*  Font Awesome styles
    ------------------------------------------------------- */
/* makes the font 33% larger relative to the icon container */
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg); } }
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg); } }
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg); }
  100% {
    -o-transform: rotate(359deg); } }
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(359deg); } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(359deg); } }
/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
/* \f020 doesn't work in Safari. all shifted one down */
/*
@mixin borderOne($width, $type, $color, $rounded:"") {
  border: $width $type $color;
  border: $width $type $color;
  @if  $rounded != "" {
    @include border-radius($rounded);
  }
}


@mixin borderTwo($width, $type, $color, $rounded:"") {
  border: $width $type $color;
  border: $width $type $color;
  @if  $rounded != "" {
    @include border-radius($rounded);
  }
}

@mixin borderThree($width, $type, $color, $rounded:"") {
  border: $width $type $color;
  border: $width $type $color;
  @if  $rounded != "" {
    @include border-radius($rounded);
  }
}
//*/
/* line 2, ../sass/base/_forms.scss */
select,
input[type="submit"],
input[type="text"],
input[type="password"] {
  display: block;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

/* line 10, ../sass/base/_forms.scss */
select {
  padding-left: 5px;
  height: 28px;
  border: 1px solid #c4c4c4; }

/* line 15, ../sass/base/_forms.scss */
input[type="text"],
input[type="password"] {
  padding-left: 5px;
  height: 30px;
  border: 1px solid #c4c4c4; }

/* line 22, ../sass/base/_forms.scss */
input[type="submit"] {
  border: 0px;
  padding: 7px;
  color: white;
  background-color: #18316a; }

/* line 29, ../sass/base/_forms.scss */
.fieldset-wrapper {
  padding: 0 0 20px 0; }

/* line 35, ../sass/base/_forms.scss */
.page form {
  clear: both; }
  /* line 37, ../sass/base/_forms.scss */
  .page form > div > label {
    font-size: 15px;
    font-weight: 700;
    color: black; }
  /* line 42, ../sass/base/_forms.scss */
  .page form fieldset {
    margin: 0;
    padding: 0;
    border: 0px; }
    /* line 46, ../sass/base/_forms.scss */
    .page form fieldset legend {
      color: #163d5f;
      font-size: 15px;
      font-weight: 700; }
  /* line 53, ../sass/base/_forms.scss */
  .page form label {
    display: block;
    clear: both;
    padding: 15px 0 7px 0; }
  /* line 60, ../sass/base/_forms.scss */
  .page form input[type="text"],
  .page form input[type="password"] {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    font-size: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  /* line 69, ../sass/base/_forms.scss */
  .page form input[type="submit"] {
    clear: both; }
  /* line 72, ../sass/base/_forms.scss */
  .page form small {
    clear: both;
    font-size: 9px; }
  /* line 76, ../sass/base/_forms.scss */
  .page form .collapsible {
    margin: 20px 0 30px 0; }
  /* line 78, ../sass/base/_forms.scss */
  .page form .container-inline {
    clear: both;
    padding: 10px 0 10px 0; }
    /* line 81, ../sass/base/_forms.scss */
    .page form .container-inline select,
    .page form .container-inline input {
      clear: none;
      float: left;
      margin-right: 10px; }
  /* line 89, ../sass/base/_forms.scss */
  .page form .form-actions {
    clear: both; }
    /* line 91, ../sass/base/_forms.scss */
    .page form .form-actions input[type="submit"] {
      float: left;
      margin-right: 20px;
      clear: none; }

/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%;
  height: auto; }

/* line 1, ../sass/base/_mothership_overrides.scss */
.page,
header[role="banner"] {
  border: 0px solid white; }

/* line 6, ../sass/base/_mothership_overrides.scss */
body.two-sidebars div[role="main"] {
  border-left: 0px solid white;
  border-right: 0px solid white; }

/* line 2, ../sass/base/_system_overrides.scss */
ul.primary {
  border-bottom: 0px solid white;
  margin: 0;
  padding: 0; }

/* line 9, ../sass/base/_system_overrides.scss */
ul.primary li a {
  background-color: white;
  border: 0px solid white;
  height: auto;
  margin-right: 0;
  padding: 0; }

/* line 17, ../sass/base/_system_overrides.scss */
ul.primary li a:hover {
  background-color: white;
  border-color: white;
  border-bottom-color: white; }

/* line 24, ../sass/base/_system_overrides.scss */
ul.primary li.active a {
  background-color: white;
  border: 0px solid white; }

/* line 31, ../sass/base/_system_overrides.scss */
.marker, .form-required {
  color: gray; }

/* line 34, ../sass/base/_system_overrides.scss */
.form-item,
.form-actions {
  margin-top: 0;
  margin-bottom: 0; }

/* line 40, ../sass/base/_system_overrides.scss */
.drupal-messages {
  clear: both; }

/* line 1, ../sass/base/_tables.scss */
table {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }
  /* line 3, ../sass/base/_tables.scss */
  table th {
    color: black;
    border: 0px; }
  /* line 7, ../sass/base/_tables.scss */
  table td,
  table tr.odd,
  table tr.even {
    border-top: 0px;
    background: white; }
  /* line 14, ../sass/base/_tables.scss */
  table td {
    padding: 14px 0 13px 0; }

/*
$tableThColor:black;
$tableThColorBk:black;
$tableTrColor:black;
$tableTrColorBk:black;
$tableTdColor:black;
$tableTdColorBk:black;
*/
/* line 2, ../sass/base/_typography.scss */
body {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: gray;
  background: white; }

/* line 10, ../sass/base/_typography.scss */
a {
  color: #163d5f; }
  /* line 18, ../../../../../../../../../../../../home/work/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
  a:visited {
    color: #163d5f; }
  /* line 21, ../../../../../../../../../../../../home/work/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
  a:focus {
    color: #163d5f; }
  /* line 24, ../../../../../../../../../../../../home/work/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
  a:hover {
    color: #163d5f; }
  /* line 27, ../../../../../../../../../../../../home/work/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
  a:active {
    color: #163d5f; }

/* line 11, ../sass/base/_typography.scss */
.active, .active-trail {
  font-weight: normal; }

/* line 18, ../sass/base/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  color: #163d5f;
  font-size: 25px;
  line-height: 27px; }
  /* line 22, ../sass/base/_typography.scss */
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #163d5f; }
    /* line 18, ../../../../../../../../../../../../home/work/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
      color: #163d5f; }
    /* line 21, ../../../../../../../../../../../../home/work/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    h1 a:focus, h2 a:focus, h3 a:focus, h4 a:focus, h5 a:focus, h6 a:focus {
      color: #163d5f; }
    /* line 24, ../../../../../../../../../../../../home/work/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
      color: #163d5f; }
    /* line 27, ../../../../../../../../../../../../home/work/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    h1 a:active, h2 a:active, h3 a:active, h4 a:active, h5 a:active, h6 a:active {
      color: #163d5f; }

/*
h1 {
  color:$h1Normal;
  a {  @include link-colors($h1Normal,$h1Hover,$h1Active,$h1Visited,$h1Focus);}
}
//*/
/*
h2 {
  color:$h2Normal;
  a {  @include link-colors($h2Normal,$h2Hover,$h2Active,$h2Visited,$h2Focus);}
}
//*/
/*
h3 {
  color:$h3Normal;
  a {  @include link-colors($h3Normal,$h3Hover,$h3Active,$h3Visited,$h3Focus);}
}
//*/
/*
h4 {
  color:$h4Normal;
  a {  @include link-colors($h4Normal,$h4Hover,$h4Active,$h4Visited,$h4Focus);}
}
//*/
/*
h5 {
  color:$h5Normal;
  a {  @include link-colors($h5Normal,$h5Hover,$h5Active,$h5Visited,$h5Focus);}
}
//*/
/*
h6 {
  color:$h6Normal;
  a {  @include link-colors($h6Normal,$h6Hover,$h6Active,$h6Visited,$h6Focus);}
}
//*/
/* line 4, ../sass/components/footers/_footer.scss */
footer[role="contentinfo"] .copy-right {
  padding-left: 5px;
  border-top: 1px solid #cccccc; }
  /* line 5, ../sass/components/footers/_footer.scss */
  footer[role="contentinfo"] .copy-right p {
    margin: 0; }
  /* line 10, ../sass/components/footers/_footer.scss */
  footer[role="contentinfo"] .copy-right div {
    margin: 0 auto; }
  /* line 17, ../sass/components/footers/_footer.scss */
  footer[role="contentinfo"] .copy-right .design-by,
  footer[role="contentinfo"] .copy-right .copy-by {
    padding-right: 10px;
    float: left; }
    /* line 21, ../sass/components/footers/_footer.scss */
    footer[role="contentinfo"] .copy-right .design-by a,
    footer[role="contentinfo"] .copy-right .copy-by a {
      color: gray; }

/* line 1, ../sass/components/header/_header.scss */
.siteinfo {
  position: absolute;
  top: 55px; }
  /* line 5, ../sass/components/header/_header.scss */
  .siteinfo hgroup {
    float: left;
    display: none; }
  /* line 11, ../sass/components/header/_header.scss */
  .siteinfo figure {
    float: left;
    padding: 0px;
    margin: 0px; }
    /* line 15, ../sass/components/header/_header.scss */
    .siteinfo figure a {
      display: block;
      width: 90%; }

/* line 1, ../sass/components/header/_phone_number.scss */
.ph-container {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 50px;
  background-color: #163d5f; }
  /* line 8, ../sass/components/header/_phone_number.scss */
  .ph-container > div {
    float: right;
    padding-top: 8px;
    padding-right: 10px;
    height: 35px;
    line-height: 35px;
    font-family: 'Roboto';
    font-size: 23px;
    color: white; }
  /* line 1111, ../sass/abstractions/_font_awesome.scss */
  .ph-container .phone:before {
    content: "\f095";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    padding-right: 5px;
    text-decoration: none;
    /* sprites.less reset */
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    width: auto;
    height: auto;
    margin-top: 0;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat; }
  /* line 22, ../sass/components/header/_phone_number.scss */
  .ph-container .p-text {
    display: block;
    float: left;
    text-indent: -9999px; }

/* line 1, ../sass/components/header/_social_media.scss */
.pnc-social {
  float: right;
  padding-top: 5px; }
  /* line 977, ../sass/abstractions/_font_awesome.scss */
  .pnc-social .twitter:before {
    content: "\f081";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    padding-right: 5px;
    text-decoration: none;
    /* sprites.less reset */
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    width: auto;
    height: auto;
    margin-top: 0;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat; }
  /* line 984, ../sass/abstractions/_font_awesome.scss */
  .pnc-social .facebook:before {
    content: "\f082";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    padding-right: 5px;
    text-decoration: none;
    /* sprites.less reset */
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    width: auto;
    height: auto;
    margin-top: 0;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat; }
  /* line 1054, ../sass/abstractions/_font_awesome.scss */
  .pnc-social .linkedin:before {
    content: "\f08c";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    padding-right: 5px;
    text-decoration: none;
    /* sprites.less reset */
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    width: auto;
    height: auto;
    margin-top: 0;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat; }
  /* line 1522, ../sass/abstractions/_font_awesome.scss */
  .pnc-social .email:before {
    content: "\f0e0";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    padding-right: 5px;
    text-decoration: none;
    /* sprites.less reset */
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    width: auto;
    height: auto;
    margin-top: 0;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat; }
  /* line 18, ../sass/components/header/_social_media.scss */
  .pnc-social .twitter,
  .pnc-social .facebook,
  .pnc-social .linkedin,
  .pnc-social .email {
    float: left;
    color: #163d5f;
    font-size: 30px; }
  /* line 28, ../sass/components/header/_social_media.scss */
  .pnc-social .twitter:before,
  .pnc-social .facebook:before,
  .pnc-social .linkedin:before,
  .pnc-social .email:before {
    float: left;
    padding: 0 0 0 5px;
    z-index: -100; }
  /* line 37, ../sass/components/header/_social_media.scss */
  .pnc-social .twitter a,
  .pnc-social .facebook a,
  .pnc-social .linkedin a,
  .pnc-social .email a {
    display: block;
    float: left;
    height: 30px;
    width: 30px;
    margin-left: -30px;
    z-index: 100;
    text-indent: -9999px; }

/* line 2, ../sass/components/navigations/_action_links.scss */
.admin-menu .action-links {
  margin: 0px;
  padding: 14px 0; }
/* line 6, ../sass/components/navigations/_action_links.scss */
.admin-menu .action-links li {
  display: inherit;
  width: 100%;
  padding-left: 0px;
  padding-bottom: 3px; }
  /* line 11, ../sass/components/navigations/_action_links.scss */
  .admin-menu .action-links li a {
    display: block;
    width: 100%;
    padding: 10px 0 10px 0;
    color: #b0b0b0;
    text-align: center;
    background-color: #c4c4c4; }
    /* line 18, ../../../../../../../../../../../../home/work/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    .admin-menu .action-links li a:visited {
      color: #b0b0b0; }
    /* line 21, ../../../../../../../../../../../../home/work/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    .admin-menu .action-links li a:focus {
      color: white; }
    /* line 24, ../../../../../../../../../../../../home/work/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    .admin-menu .action-links li a:hover {
      color: white; }
    /* line 27, ../../../../../../../../../../../../home/work/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    .admin-menu .action-links li a:active {
      color: #18316a; }
/* line 26, ../sass/components/navigations/_action_links.scss */
.admin-menu .action-links li a.active {
  font-weight: normal;
  color: White; }

/* line 1, ../sass/components/navigations/_breadcrumb.scss */
.breadcrumb {
  padding: 10px 0 10px; }

/* line 7, ../sass/components/navigations/_breadcrumb.scss */
.page-user .breadcrumb {
  display: none; }

/* line 2, ../sass/components/navigations/_navigation.scss */
.navigation nav[role="navigation"] {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px; }

/* line 10, ../sass/components/navigations/_navigation.scss */
#collapsed-menu-button {
  background-color: #163d5f;
  border: 0px solid white;
  border-radius: 0px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  color: white; }

/* line 20, ../sass/components/navigations/_navigation.scss */
body #mobile-menu-wrapper #mobile-menu-inner {
  top: 85px !important; }

/* line 23, ../sass/components/navigations/_navigation.scss */
.mobile-menu-button {
  display: block;
  font-size: 28px;
  height: 24px;
  width: 24px;
  overflow: hidden;
  color: white; }
  /* line 1904, ../sass/abstractions/_font_awesome.scss */
  .mobile-menu-button:before {
    content: "\f0c9";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    padding-right: 5px;
    text-decoration: none;
    /* sprites.less reset */
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    width: auto;
    height: auto;
    margin-top: 0;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat; }

/* line 33, ../sass/components/navigations/_navigation.scss */
#mobile-menu li, .mobile-menu li {
  border: 0px solid #163d5f; }

/* line 37, ../sass/components/navigations/_navigation.scss */
.mobile-menu-slide li a,
.mobile-menu-slide li a:focus,
.mobile-menu-slide li a:visited {
  display: block;
  padding: 12px 5% 12px 5% !important;
  color: #b0b0b0;
  background-color: #163d5f;
  font-size: 20px; }

/* line 47, ../sass/components/navigations/_navigation.scss */
.mobile-menu-slide li a.active-trail,
.mobile-menu-slide li a:hover {
  color: #b0b0b0; }

/* line 2, ../sass/components/navigations/_tabs_primary.scss */
.admin-menu .tabs ul.primary {
  padding-top: 14px; }
/* line 5, ../sass/components/navigations/_tabs_primary.scss */
.admin-menu .tabs ul.primary li {
  display: inherit;
  width: 100%;
  padding-left: 0px;
  padding-bottom: 3px; }
  /* line 10, ../sass/components/navigations/_tabs_primary.scss */
  .admin-menu .tabs ul.primary li a {
    display: block;
    width: 100%;
    padding: 10px 0 10px 0;
    color: #b0b0b0;
    text-align: center;
    background-color: #c4c4c4; }
    /* line 18, ../../../../../../../../../../../../home/work/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    .admin-menu .tabs ul.primary li a:visited {
      color: #b0b0b0; }
    /* line 21, ../../../../../../../../../../../../home/work/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    .admin-menu .tabs ul.primary li a:focus {
      color: white; }
    /* line 24, ../../../../../../../../../../../../home/work/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    .admin-menu .tabs ul.primary li a:hover {
      color: white; }
    /* line 27, ../../../../../../../../../../../../home/work/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    .admin-menu .tabs ul.primary li a:active {
      color: #18316a; }
/* line 25, ../sass/components/navigations/_tabs_primary.scss */
.admin-menu .tabs ul.primary li a.active {
  font-weight: normal;
  color: White; }

/* line 76, ../sass/components/navigations/_tabs_primary.scss */
.admin-menu.page-user .page #main-content {
  width: 98%;
  height: inherit;
  margin: 0;
  border: 0px solid white;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  position: inherit;
  top: inherit;
  left: inherit;
  bottom: inherit;
  right: inherit; }

/* line 2, ../sass/components/pages/_basic_gallery.scss */
.pnc-bg {
  margin: 0px;
  padding: 0px; }
  /* line 5, ../sass/components/pages/_basic_gallery.scss */
  .pnc-bg div:first-child {
    float: left; }
    /* line 7, ../sass/components/pages/_basic_gallery.scss */
    .pnc-bg div:first-child a:last-child {
      display: block;
      position: relative;
      color: white;
      text-align: center;
      font-weight: 700;
      font-size: 3em;
      -webkit-touch-callout: none !important; }
      /* line 18, ../../../../../../../../../../../../home/work/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
      .pnc-bg div:first-child a:last-child:visited {
        color: white; }
      /* line 21, ../../../../../../../../../../../../home/work/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
      .pnc-bg div:first-child a:last-child:focus {
        color: white; }
      /* line 24, ../../../../../../../../../../../../home/work/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
      .pnc-bg div:first-child a:last-child:hover {
        color: white; }
      /* line 27, ../../../../../../../../../../../../home/work/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
      .pnc-bg div:first-child a:last-child:active {
        color: white; }
      /* line 27, ../sass/components/pages/_basic_gallery.scss */
      .pnc-bg div:first-child a:last-child span {
        display: none;
        position: absolute; }
      /* line 31, ../sass/components/pages/_basic_gallery.scss */
      .pnc-bg div:first-child a:last-child .overlay {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0.7;
        filter: alpha(opacity=70);
        background-color: #163d5f; }
      /* line 40, ../sass/components/pages/_basic_gallery.scss */
      .pnc-bg div:first-child a:last-child .title {
        top: 24%;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 2%;
        font-size: .8em;
        line-height: 98%; }
  /* line 86, ../sass/components/pages/_basic_gallery.scss */
  .pnc-bg div:last-child .bg-group {
    display: none; }

/**
* Colorbox Core Style:
* The following CSS is consistent between example themes and should not be altered.
*/
/**
* Colorbox Core Style:
* The following CSS is consistent between example themes and should not be altered.
*/
/* line 104, ../sass/components/pages/_basic_gallery.scss */
#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden; }

/* line 111, ../sass/components/pages/_basic_gallery.scss */
#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%; }

/* line 116, ../sass/components/pages/_basic_gallery.scss */
#cboxMiddleLeft, #cboxBottomLeft {
  clear: left; }

/* line 119, ../sass/components/pages/_basic_gallery.scss */
#cboxContent {
  position: relative; }

/* line 122, ../sass/components/pages/_basic_gallery.scss */
#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

/* line 126, ../sass/components/pages/_basic_gallery.scss */
#cboxTitle {
  margin: 0; }

/* line 129, ../sass/components/pages/_basic_gallery.scss */
#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/**
* These elements are buttons, and may need to have additional
* styles reset to avoid unwanted base styles.
*/
/* line 140, ../sass/components/pages/_basic_gallery.scss */
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  width: auto;
  background: none;
  cursor: pointer; }

/**
* Avoid outlines on :active (mouseclick),
* but preserve outlines on :focus (tabbed navigating)
*/
/* line 153, ../sass/components/pages/_basic_gallery.scss */
#cboxPrevious:active, #cboxNext:active, #cboxClose:active, #cboxSlideshow:active {
  outline: 0; }

/* line 156, ../sass/components/pages/_basic_gallery.scss */
.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none; }

/* line 163, ../sass/components/pages/_basic_gallery.scss */
.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0; }

/* Reset box sizing to content-box if theme is using border-box. */
/* line 170, ../sass/components/pages/_basic_gallery.scss */
#colorbox, #cboxContent, #cboxLoadedContent {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/**
* Colorbox module default style:
* The styles are ordered & tabbed in a way that represents
* the nesting of the generated HTML.
*/
/* line 181, ../sass/components/pages/_basic_gallery.scss */
#cboxOverlay {
  background: #000; }

/* line 184, ../sass/components/pages/_basic_gallery.scss */
#colorbox {
  outline: 0; }

/* line 187, ../sass/components/pages/_basic_gallery.scss */
#cboxWrapper {
  background: #fff; }

/* line 201, ../sass/components/pages/_basic_gallery.scss */
#cboxBottomLeft {
  width: 15px;
  height: 10px; }

/* line 208, ../sass/components/pages/_basic_gallery.scss */
#cboxBottomRight {
  width: 15px;
  height: 10px; }

/* line 212, ../sass/components/pages/_basic_gallery.scss */
#cboxMiddleLeft {
  width: 15px; }

/* line 215, ../sass/components/pages/_basic_gallery.scss */
#cboxMiddleRight {
  width: 15px; }

/* line 218, ../sass/components/pages/_basic_gallery.scss */
#cboxContent {
  background: #fff;
  overflow: hidden; }

/* line 222, ../sass/components/pages/_basic_gallery.scss */
#cboxError {
  padding: 50px;
  border: 1px solid #ccc; }

/* line 226, ../sass/components/pages/_basic_gallery.scss */
#cboxLoadedContent {
  margin-bottom: 28px;
  margin-top: 28px; }

/* line 230, ../sass/components/pages/_basic_gallery.scss */
#cboxTitle {
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  bottom: 28px;
  left: 0;
  color: #535353;
  width: 100%;
  padding: 4px 6px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 242, ../sass/components/pages/_basic_gallery.scss */
#cboxCurrent {
  position: absolute;
  bottom: 4px;
  left: 60px;
  color: #949494; }

/* line 248, ../sass/components/pages/_basic_gallery.scss */
.cboxSlideshow_on #cboxSlideshow {
  position: absolute;
  bottom: 0px;
  right: 30px;
  background: url(../images/gallery/controls.png) no-repeat -75px -50px;
  width: 25px;
  height: 25px;
  text-indent: -9999px; }

/* line 257, ../sass/components/pages/_basic_gallery.scss */
.cboxSlideshow_on #cboxSlideshow:hover {
  background-position: -101px -50px; }

/* line 260, ../sass/components/pages/_basic_gallery.scss */
.cboxSlideshow_off #cboxSlideshow {
  position: absolute;
  bottom: 0px;
  right: 30px;
  background: url(../images/gallery/controls.png) no-repeat -25px -50px;
  width: 25px;
  height: 25px;
  text-indent: -9999px; }

/* line 269, ../sass/components/pages/_basic_gallery.scss */
.cboxSlideshow_off #cboxSlideshow:hover {
  background-position: -49px -50px; }

/* line 272, ../sass/components/pages/_basic_gallery.scss */
#cboxPrevious {
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(../images/gallery/controls.png) no-repeat -75px 0px;
  width: 25px;
  height: 25px;
  text-indent: -9999px; }

/* line 281, ../sass/components/pages/_basic_gallery.scss */
#cboxPrevious:hover {
  background-position: -75px -25px; }

/* line 284, ../sass/components/pages/_basic_gallery.scss */
#cboxNext {
  position: absolute;
  bottom: 0;
  left: 27px;
  background: url(../images/gallery/controls.png) no-repeat -50px 0px;
  width: 25px;
  height: 25px;
  text-indent: -9999px; }

/* line 293, ../sass/components/pages/_basic_gallery.scss */
#cboxNext:hover {
  background-position: -50px -25px; }

/* line 296, ../sass/components/pages/_basic_gallery.scss */
#cboxLoadingOverlay {
  background: #fff; }

/* line 299, ../sass/components/pages/_basic_gallery.scss */
#cboxLoadingGraphic {
  background: url(../images/gallery/loading_animation.gif) no-repeat center center; }

/* line 302, ../sass/components/pages/_basic_gallery.scss */
#cboxClose {
  position: absolute;
  top: 0;
  right: 0;
  background: url(../images/gallery/controls.png) no-repeat -24px 2px;
  width: 30px;
  height: 30px;
  -ms-transform: scale(1.09, 1.09);
  -webkit-transform: scale(1.09, 1.09);
  transform: scale(1.09, 1.09);
  margin-top: 30px;
  text-indent: -9999px; }

/* line 315, ../sass/components/pages/_basic_gallery.scss */
#cboxClose:hover {
  background-position: -25px -25px; }

/* line 1, ../sass/components/search/_search.scss */
#search-block-form {
  position: absolute;
  top: 130px;
  width: 225px; }
  /* line 5, ../sass/components/search/_search.scss */
  #search-block-form input[type="text"] {
    float: left;
    width: 180px;
    height: 30px; }
  /* line 10, ../sass/components/search/_search.scss */
  #search-block-form input[type="submit"] {
    float: left;
    height: 35px;
    width: 35px;
    border: 0;
    font-size: 1.5em;
    vertical-align: top;
    font-family: 'FontAwesome'; }

/* line 2, ../sass/components/search/_search_page.scss */
.page-search .breadcrumb {
  display: none; }
/* line 6, ../sass/components/search/_search_page.scss */
.page-search #search-form label {
  display: none; }
/* line 7, ../sass/components/search/_search_page.scss */
.page-search #search-form input[type="text"] {
  float: left;
  margin-right: 10px; }
/* line 11, ../sass/components/search/_search_page.scss */
.page-search #search-form input[type="submit"] {
  padding: 5px; }

/* line 1, ../sass/components/sidebars/_contact_details.scss */
#block-pncsitedetails-pncsitecontact-block {
  float: left;
  width: 100%;
  margin-bottom: 40px; }

/* line 3, ../sass/components/sidebars/_sidebar_globals.scss */
.sidebar-first h2.title,
.sidebar-second h2.title {
  text-align: center;
  padding: 10px 0 10px 0;
  background-color: #e7e7e7; }
/* line 8, ../sass/components/sidebars/_sidebar_globals.scss */
.sidebar-first > div,
.sidebar-second > div {
  clear: both; }
  /* line 10, ../sass/components/sidebars/_sidebar_globals.scss */
  .sidebar-first > div > ul,
  .sidebar-second > div > ul {
    padding: 0px;
    min-height: 10px; }
    /* line 13, ../sass/components/sidebars/_sidebar_globals.scss */
    .sidebar-first > div > ul li,
    .sidebar-second > div > ul li {
      clear: both;
      float: left;
      width: 100%; }
    /* line 19, ../sass/components/sidebars/_sidebar_globals.scss */
    .sidebar-first > div > ul li span,
    .sidebar-second > div > ul li span {
      display: block;
      float: left;
      width: 48%; }
    /* line 24, ../sass/components/sidebars/_sidebar_globals.scss */
    .sidebar-first > div > ul li span:first-child,
    .sidebar-second > div > ul li span:first-child {
      font-weight: 700; }
  /* line 29, ../sass/components/sidebars/_sidebar_globals.scss */
  .sidebar-first > div p,
  .sidebar-second > div p {
    clear: both;
    width: 100%;
    float: left;
    margin: 5px 0 5px 0; }
    /* line 34, ../sass/components/sidebars/_sidebar_globals.scss */
    .sidebar-first > div p span:first-child,
    .sidebar-second > div p span:first-child {
      font-weight: 700;
      padding-right: 20px; }

/* line 1, ../sass/components/sidebars/_testimonials.scss */
#block-views-testimonial-testimonial {
  background-color: #e7e7e7; }
  /* line 4, ../sass/components/sidebars/_testimonials.scss */
  #block-views-testimonial-testimonial h2.title {
    width: 160px;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 25px; }
  /* line 12, ../sass/components/sidebars/_testimonials.scss */
  #block-views-testimonial-testimonial > div .testmon {
    width: 170px;
    margin: 0 auto;
    font-size: 30px;
    color: #163d5f; }
    /* line 1825, ../sass/abstractions/_font_awesome.scss */
    #block-views-testimonial-testimonial > div .testmon:before {
      content: "\f10d";
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      text-decoration: inherit;
      -webkit-font-smoothing: antialiased;
      padding-right: 5px;
      text-decoration: none;
      /* sprites.less reset */
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      width: auto;
      height: auto;
      margin-top: 0;
      line-height: normal;
      vertical-align: baseline;
      background-image: none;
      background-position: 0% 0%;
      background-repeat: repeat; }
  /* line 19, ../sass/components/sidebars/_testimonials.scss */
  #block-views-testimonial-testimonial > div .testmon:before {
    float: left; }
  /* line 23, ../sass/components/sidebars/_testimonials.scss */
  #block-views-testimonial-testimonial > div .testmon {
    background-color: #e7e7e7; }
    /* line 25, ../sass/components/sidebars/_testimonials.scss */
    #block-views-testimonial-testimonial > div .testmon .title {
      display: none; }
    /* line 28, ../sass/components/sidebars/_testimonials.scss */
    #block-views-testimonial-testimonial > div .testmon .body {
      width: 130px;
      float: right;
      font-size: 13px;
      color: gray; }
    /* line 35, ../sass/components/sidebars/_testimonials.scss */
    #block-views-testimonial-testimonial > div .testmon .by {
      clear: both;
      padding: 0px 10px 25px 40px;
      font-size: 13px; }

/* line 1, ../sass/components/sidebars/_trading_hours.scss */
#block-pncsitedetails-pncsitehours-block {
  float: left;
  margin-bottom: 40px; }

/* line 2, ../sass/components/users/_admin_menu.scss */
.admin-menu .siteinfo {
  top: 10px; }
/* line 5, ../sass/components/users/_admin_menu.scss */
.admin-menu .tabs ul.primary {
  background-color: #c4c4c4; }
/* line 9, ../sass/components/users/_admin_menu.scss */
.admin-menu .tabs ul.primary li {
  display: inherit;
  width: 100%;
  padding-bottom: 3px; }
  /* line 13, ../sass/components/users/_admin_menu.scss */
  .admin-menu .tabs ul.primary li a {
    display: block;
    width: 100%;
    padding: 10px 0 10px 0;
    color: #b0b0b0;
    text-align: center; }
    /* line 18, ../../../../../../../../../../../../home/work/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    .admin-menu .tabs ul.primary li a:visited {
      color: #b0b0b0; }
    /* line 21, ../../../../../../../../../../../../home/work/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    .admin-menu .tabs ul.primary li a:focus {
      color: white; }
    /* line 24, ../../../../../../../../../../../../home/work/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    .admin-menu .tabs ul.primary li a:hover {
      color: white; }
    /* line 27, ../../../../../../../../../../../../home/work/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    .admin-menu .tabs ul.primary li a:active {
      color: #18316a; }
/* line 27, ../sass/components/users/_admin_menu.scss */
.admin-menu .tabs ul.primary li a.active {
  font-weight: normal;
  color: White; }

/* line 78, ../sass/components/users/_admin_menu.scss */
.admin-menu.page-user .page #main-content {
  width: 98%;
  height: inherit;
  margin: 0;
  border: 0px solid white;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  position: inherit;
  top: inherit;
  left: inherit;
  bottom: inherit;
  right: inherit; }

/* line 3, ../sass/components/users/_editor_role.scss */
.admin-menu:not(.node-type-page) .page h1,
.page-admin-editorpanel:not(.node-type-page) .page h1 {
  background-color: #e0e0e0;
  padding: 10px; }
/* line 7, ../sass/components/users/_editor_role.scss */
.admin-menu:not(.node-type-page) .fieldset-legend,
.page-admin-editorpanel:not(.node-type-page) .fieldset-legend {
  display: block;
  clear: both;
  width: 99%;
  border-bottom: 1px solid #cccccc;
  padding-top: 10px;
  margin-bottom: 10px; }
/* line 19, ../sass/components/users/_editor_role.scss */
.admin-menu:not(.node-type-page) .page .admin-list h3,
.admin-menu:not(.node-type-page) .page .admin h3,
.page-admin-editorpanel:not(.node-type-page) .page .admin-list h3,
.page-admin-editorpanel:not(.node-type-page) .page .admin h3 {
  font-size: 15px;
  margin: 0; }
/* line 23, ../sass/components/users/_editor_role.scss */
.admin-menu:not(.node-type-page) .page .admin-list dl,
.admin-menu:not(.node-type-page) .page .admin dl,
.page-admin-editorpanel:not(.node-type-page) .page .admin-list dl,
.page-admin-editorpanel:not(.node-type-page) .page .admin dl {
  margin: 15px 0 12px 0; }
/* line 28, ../sass/components/users/_editor_role.scss */
.admin-menu:not(.node-type-page) .page .admin-list dd,
.admin-menu:not(.node-type-page) .page .admin dd,
.page-admin-editorpanel:not(.node-type-page) .page .admin-list dd,
.page-admin-editorpanel:not(.node-type-page) .page .admin dd {
  margin-left: 0;
  margin-bottom: 12px; }
/* line 32, ../sass/components/users/_editor_role.scss */
.admin-menu:not(.node-type-page) .page .admin-list .right,
.admin-menu:not(.node-type-page) .page .admin-list .left,
.admin-menu:not(.node-type-page) .page .admin .right,
.admin-menu:not(.node-type-page) .page .admin .left,
.page-admin-editorpanel:not(.node-type-page) .page .admin-list .right,
.page-admin-editorpanel:not(.node-type-page) .page .admin-list .left,
.page-admin-editorpanel:not(.node-type-page) .page .admin .right,
.page-admin-editorpanel:not(.node-type-page) .page .admin .left {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  margin: 0;
  padding: 0; }
/* line 43, ../sass/components/users/_editor_role.scss */
.admin-menu:not(.node-type-page) #form-pncsitedetails input[type="submit"],
.page-admin-editorpanel:not(.node-type-page) #form-pncsitedetails input[type="submit"] {
  display: block;
  clear: both; }

/* line 57, ../sass/components/users/_editor_role.scss */
.page-admin-content-add #main-content,
.page-admin-content #main-content,
.page-admin-config #main-content,
.page-admin-structure #main-content,
.page-admin-editorpanel #main-content,
.page-admin-help #main-content,
.logged-in #main-content {
  width: 100%; }
/* line 61, ../sass/components/users/_editor_role.scss */
.page-admin-content-add div [class*='sidebar'],
.page-admin-content div [class*='sidebar'],
.page-admin-config div [class*='sidebar'],
.page-admin-structure div [class*='sidebar'],
.page-admin-editorpanel div [class*='sidebar'],
.page-admin-help div [class*='sidebar'],
.logged-in div [class*='sidebar'] {
  float: left;
  width: 90%; }

/* line 68, ../sass/components/users/_editor_role.scss */
.page-admin-config h3 {
  font-size: 12px;
  margin: 0;
  padding-top: 10px;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 10px; }

/* line 2, ../sass/components/users/_user_login.scss */
.page-user footer[role="contentinfo"] > div:first-child,
.page-user .header-region,
.page-user .sidebar-first,
.page-user .header-border,
.page-user .sidebar-second,
.page-user .navigation {
  display: none; }
/* line 11, ../sass/components/users/_user_login.scss */
.page-user .siteinfo {
  padding-left: 28px; }
  /* line 14, ../sass/components/users/_user_login.scss */
  .page-user .siteinfo hgroup {
    display: none; }
  /* line 19, ../sass/components/users/_user_login.scss */
  .page-user .siteinfo figure a {
    display: block;
    width: 100px;
    height: 20px; }
    /* line 23, ../sass/components/users/_user_login.scss */
    .page-user .siteinfo figure a img {
      display: none; }
  /* line 25, ../sass/components/users/_user_login.scss */
  .page-user .siteinfo figure a:before {
    content: "Home";
    font-size: 14px; }
/* line 32, ../sass/components/users/_user_login.scss */
.page-user .page > div > h1 {
  width: 230px;
  height: 65px;
  padding: 0;
  margin: 0 auto;
  text-indent: -9999px;
  background: url("../images/mobile/mobile-logo.jpg") repeat-x; }
/* line 43, ../sass/components/users/_user_login.scss */
.page-user .page-user #main-content:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }
/* line 52, ../sass/components/users/_user_login.scss */
.page-user label, .page-user small {
  display: none; }
/* line 54, ../sass/components/users/_user_login.scss */
.page-user .tabs li {
  padding: 0; }
/* line 58, ../sass/components/users/_user_login.scss */
.page-user ul.primary {
  padding-top: 5px; }
/* line 62, ../sass/components/users/_user_login.scss */
.page-user ul.primary li {
  display: inherit;
  width: 100%;
  padding-bottom: 3px; }
  /* line 66, ../sass/components/users/_user_login.scss */
  .page-user ul.primary li a {
    display: block;
    width: 100%;
    padding: 10px 0 10px 0;
    color: #b0b0b0;
    background-color: #c4c4c4;
    font-size: 18px;
    text-align: center; }
    /* line 18, ../../../../../../../../../../../../home/work/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    .page-user ul.primary li a:visited {
      color: #b0b0b0; }
    /* line 21, ../../../../../../../../../../../../home/work/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    .page-user ul.primary li a:focus {
      color: white; }
    /* line 24, ../../../../../../../../../../../../home/work/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    .page-user ul.primary li a:hover {
      color: white; }
    /* line 27, ../../../../../../../../../../../../home/work/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    .page-user ul.primary li a:active {
      color: #18316a; }
/* line 82, ../sass/components/users/_user_login.scss */
.page-user ul.primary li a.active {
  font-weight: normal;
  color: White; }

/* line 159, ../sass/components/users/_user_login.scss */
.admin-menu.page-user ul.primary li a {
  font-size: 13px; }

/* line 163, ../sass/components/users/_user_login.scss */
.admin-menu.page-user footer[role="contentinfo"] > div:first-child {
  display: block; }

/* line 167, ../sass/components/users/_user_login.scss */
.admin-menu.page-user footer[role="contentinfo"] h2.title {
  display: none; }

/* line 2, ../sass/components/users/_user_login_form.scss */
.page-user .page {
  padding: 0px; }
  /* line 4, ../sass/components/users/_user_login_form.scss */
  .page-user .page form#user-pass,
  .page-user .page form#user-register-form,
  .page-user .page form#user-login {
    clear: both;
    width: 235px;
    min-height: 225px;
    margin: 0 auto;
    /* Break Point */ }
    /* line 11, ../sass/components/users/_user_login_form.scss */
    .page-user .page form#user-pass .form-required,
    .page-user .page form#user-register-form .form-required,
    .page-user .page form#user-login .form-required {
      clear: both;
      padding: 24px 0 0 0; }
    /* line 16, ../sass/components/users/_user_login_form.scss */
    .page-user .page form#user-pass .form-actions,
    .page-user .page form#user-register-form .form-actions,
    .page-user .page form#user-login .form-actions {
      padding-top: 24px; }
    /* line 20, ../sass/components/users/_user_login_form.scss */
    .page-user .page form#user-pass input[type="submit"],
    .page-user .page form#user-register-form input[type="submit"],
    .page-user .page form#user-login input[type="submit"] {
      margin: auto;
      clear: both;
      width: 235px;
      height: inherit;
      padding: 17px 14px 17px 14px;
      margin: 30px -1px  6px 0; }
    /* line 29, ../sass/components/users/_user_login_form.scss */
    .page-user .page form#user-pass input[type="text"],
    .page-user .page form#user-pass input[type="password"],
    .page-user .page form#user-register-form input[type="text"],
    .page-user .page form#user-register-form input[type="password"],
    .page-user .page form#user-login input[type="text"],
    .page-user .page form#user-login input[type="password"] {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      margin: 0 auto;
      height: 40px;
      border: 1px solid #c4c4c4; }
  /* line 59, ../sass/components/users/_user_login_form.scss */
  .page-user .page form div.password-confirm {
    margin-top: 0;
    height: 0px; }
  /* line 64, ../sass/components/users/_user_login_form.scss */
  .page-user .page form #edit-picture {
    margin-top: 40px; }
  /* line 67, ../sass/components/users/_user_login_form.scss */
  .page-user .page form .password-suggestions {
    clear: both; }
  /* line 70, ../sass/components/users/_user_login_form.scss */
  .page-user .page form .password-strength {
    float: left; }
  /* line 73, ../sass/components/users/_user_login_form.scss */
  .page-user .page form div.password-confirm {
    float: left;
    padding: 20px 0 10px 0; }
  /* line 78, ../sass/components/users/_user_login_form.scss */
  .page-user .page form #edit-picture-delete {
    margin-top: 15px; }
  /* line 82, ../sass/components/users/_user_login_form.scss */
  .page-user .page form label[for=edit-picture-delete] {
    float: left;
    padding: 10px 10px 7px 0; }

/**
 * Site Layout
 */
/* line 4, ../sass/layouts/content/_content_single_column.scss */
.page-our-gallery div[role="main"] {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }
  /* line 6, ../sass/layouts/content/_content_single_column.scss */
  .page-our-gallery div[role="main"] article {
    padding: 5px 0px 5px 0; }

/* line 10, ../sass/layouts/content/_content_single_column.scss */
.page-our-gallery .sidebar-first {
  display: none; }

/* line 14, ../sass/layouts/content/_content_single_column.scss */
.page-our-gallery .sidebar-second {
  display: none; }

/*
@include contentThreeColumnDefault('.front');
@include contentThreeColumnDefault('.not-front');
//*/
/*
@include contentTwoLeftColumnDefault('.front');
@include contentTwoLeftColumnDefault('.not-front');
//*/
/* line 3, ../sass/layouts/content/_content_two_right_column.scss */
.front div[role="main"] {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }
  /* line 4, ../sass/layouts/content/_content_two_right_column.scss */
  .front div[role="main"] article {
    padding: 5px 0px 5px 0; }

/* line 18, ../sass/layouts/content/_content_two_right_column.scss */
.front [class*='sidebar'] {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

/* line 3, ../sass/layouts/content/_content_two_right_column.scss */
.not-front div[role="main"] {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }
  /* line 4, ../sass/layouts/content/_content_two_right_column.scss */
  .not-front div[role="main"] article {
    padding: 5px 0px 5px 0; }

/* line 18, ../sass/layouts/content/_content_two_right_column.scss */
.not-front [class*='sidebar'] {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

/**
 * Titles
 */
/* line 23, ../sass/site/_display_and_layout.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  padding: 0px;
  margin: 0; }

/* line 28, ../sass/site/_display_and_layout.scss */
.admin-menu .ph-container {
  display: none; }

/**
 * Menu
 */
/**
 * Page
 */
/**
 * Footer 
 */
/* line 1, ../sass/site/_user_help.scss */
#pnc-help {
  position: fixed;
  top: 30%;
  left: 0;
  height: 200px; }

/* line 7, ../sass/site/_user_help.scss */
.help-slide {
  margin-left: -100px; }

/*
body {
   background-color:red;
}
//*/
/**
 *	User overrides
 */
/* line 2, ../sass/layouts/_user_layout_login.scss */
.page-user #main-content {
  float: none;
  margin: 0 auto;
  padding-bottom: 20px; }

/*# sourceMappingURL=no-query.css.map */
