.page-user {
	.page {
		padding:0px;
		form#user-pass,
		form#user-register-form,
		form#user-login {
			clear: both;
			width: 235px;
			min-height: 225px;
			margin: 0 auto;
			.form-required {
				clear:both;
				padding:24px 0 0 0;
			}

			.form-actions {
				padding-top:24px;
			}

			input[type="submit"] {
				margin: auto;
				clear:both;
				width:235px;
				height:inherit;
				padding:17px 14px 17px 14px;
				margin:30px -1px  6px 0;
			}

			input[type="text"],
			input[type="password"] {
				@include grid-span(12, 1);
				margin:0 auto;
				height:40px;
				border:1px solid $borderOne;
			}


			/* Break Point */
			@include breakpoint($smartPhone) {
				input[type="submit"] {
				
				}
			}

			@include breakpoint($largeSmartPhone) {
				width: 450px;
				margin: 0 auto;
				min-height: 245px;

				input[type="submit"] {
					width:auto;
					color:$colorButtons;
					background-color:$backgroundButtons;
					float: right;
					margin:10px 0  6px 0;
				}
			}
		}
	}
}
