.hi-light {
	padding-top:0px;
	overflow: hidden;
	background: black  url('../images/hili.png') no-repeat;
	height:230px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0%;
	text-indent: -9999px;
}