//-- Mobile navigation
.navigation nav[role="navigation"] {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 50px;
	height:50px;	
}

#collapsed-menu-button {
	background-color:$aMBackGround;
	border: 0px solid $aMHover;
	border-radius:0px;
	cursor: pointer;
	margin:0;
	padding:0;
	color:$aMNormal;
}

body #mobile-menu-wrapper #mobile-menu-inner {
	top: 85px !important;
}
.mobile-menu-button {
	display:block;
	@include icon-mobile-menu;
	font-size:28px;
	height:24px;
	width:24px;
	overflow:hidden;
	color:$aMNormal;
}

#mobile-menu li, .mobile-menu li {
	border: 0px solid $aMBackGround;
}

.mobile-menu-slide li a,
.mobile-menu-slide li a:focus,
.mobile-menu-slide li a:visited {
	display:block;
	padding:12px 5% 12px 5% !important;
	color:$a2MNormal;
	background-color:$aMBackGround;
	font-size:20px;
}

.mobile-menu-slide li a.active-trail,
.mobile-menu-slide li a:hover {
	color:$a2MHover;
}


@include breakpoint($largeSmartPhone) {
	.navigation nav[role="navigation"] {
		position:relative;
		top:auto;
		left:auto;
		width:100%;
		height:inherit;
	}

	.navigation  ul.menu{
		float:left;
		margin:0;
		padding-left: 0px;
	}

	.navigation  ul.menu li {
		float: left;
		padding-right: 10px;
		margin: 0;
	}

	.navigation  ul.menu li a{
		display:block;
		color:#b0b0b0;;
		text-align:center;
	}
        .navigation  ul.menu li a:active {
		color:#163d5f;
	}
}
