#search-block-form {
	position:absolute;
	top:130px;
	width: 225px;
	input[type="text"] {
		float: left;
		width:180px;
		height:30px;
	}
	input[type="submit"] {
		float: left;
		height:35px;
		width:35px;
		border: 0;
		font-size: 1.5em;
		vertical-align: top;
		font-family: 'FontAwesome';
	}

	@include breakpoint($smartPhone) {
		position:inherit;
		top:inherit;
		float:right;
		padding-top:32px;
	}
}
