footer[role="contentinfo"] {
	> div { 
		
	}
	.copy-right {
		border-top:1px solid #cccccc;
		div {
			 width: 45%;
			 margin: 0 auto;
			
		}
		.design-by,
		.copy-by{
			padding-right:10px;
			float:left;
			a {
				color: $textColor;
			}

		}
	}
}