footer[role="contentinfo"] {
	> div {
	}
	.copy-right {
		padding-left:5px;
		border-top:1px solid #cccccc;
		div {
			@include breakpoint($largeSmartPhone) { 
			 width: 45%;
			}
			 margin: 0 auto;
			
		}
		.design-by,
		.copy-by{
			padding-right:10px;
			float:left;
			a {
				color: $textColor;
			}

		}
	}
}
