footer[role="contentinfo"] {
	> div { 
		border-top:1px solid #cccccc;
	}
	.copy-right{
		width:60%;
		margin:0 auto;
		.design-by,
		.copy-by{
			padding-right:10px;
			float:left;
			a {
				color: $textColor;
			}

		}
	}
}