.siteinfo {
	position:absolute;
	top:55px;
         
	hgroup {
		float:left;
		display:none;
	}
	
	
	figure {
		float:left;
		padding:0px;
		margin:0px;
		a {
			display: block;
			width: 90%;
		}
	}

	@include breakpoint($largeSmartPhone) {
		position:inherit;
		float: left;
		padding:10px 0;

	}
}


.header-region {
	height: 150px;
	@include breakpoint($largeSmartPhone) {
		height:inherit;
	}
	
	@include breakpoint($tablet) {
		float: right;
	}
}
