.page-user {
  #user-pass,
  #user-register-form,
  #user-login {
    .form-required {
      clear:both;
      padding:24px 0 0 0;
    }

    .form-actions {
      padding-top:24px;
    }

    input[type="submit"] {
      margin: auto;
      width:130px;
      padding:8px 0 8px 0;
    }

    input[type="text"],
    input[type="password"] {
      margin:0 auto;
      width: 200px;
      padding:19px 0 19px 35px;
      border:1px solid $borderOne;
    }


    /* Break Point */
   @include breakpoint($smartPhone) {
      input[type="text"],
      input[type="password"] {
        width:265px;
      }
      input[type="submit"] {
        width:230px;
      }
    }

    @include breakpoint($largeSmartPhone) {
      #user-login {
        clear:both;
      }

      input[type="text"],
      input[type="password"] {
        width:425px;
      }

      input[type="submit"] {
        width:auto;
        color:$colorButtons;
        background-color:$backgroundButtons;
        padding:17px 14px 17px 14px;
        float: right;
        margin-right: 106px;
      }
    }
  }
}
