//-- Non logged in user
.page-user {
  .siteinfo {
    display:none;
  }
  .page {
    position: absolute;
    height: 100%;
    width: 100%;
   > div >  h1 {
      width:230px;
      height:65px;
      padding:0;
      margin:0 auto;
      text-indent:-9999px;
      background: url('../images/mobile/mobile-logo.jpg') repeat-x;
    }
  }


  #main-content {
    width: 100%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }
  label, small {display:none;}
  ul.primary {
    padding-top:5px;
  }

  ul.primary li {
    display:inherit;
    width:100%;
    padding-bottom:3px;
    a {
      display:block;
      width:100%;
      padding:10px 0 10px 0;
      @include link-colors($aMNormal,$aMHover,$aMActive,$aMVisited,$aMFocus);
      background-color:$backgroundColorLinkOne;
      font-size:$mobileSLinkHeight;
      text-align:center;
    }
  }
  ul.primary li a.active {
    font-weight:normal;
    color:$aMActive;
  }

  .form-required {
    padding:24px 0 0 0;

  }
  .form-actions {
    padding-top:24px;
  }
  input[type="submit"] {
    display:block;
    width:230px;
    margin: auto;
    border:0px;
    padding:8px 0 4px 0;
    @include border-radius(5px);
    color:$colorMInput;
    background-color:$backgroundMInput;
    font-size:18px;

  }

  input[type="text"],
  input[type="password"] {
    display:block;
    width:265px;
    margin:0 auto;
    padding:19px 0 19px 35px;
    border:1px solid $borderOne;
    @include border-radius(5px);
    font-size:18px;

  }
}
