.page-user {
  #user-login {
    .form-required {
      padding:24px 0 0 0;
    }

    .form-actions {
      padding-top:24px;
    }

    input[type="submit"] {
      margin: auto;
      width:130px;
      padding:8px 0 4px 0;
    }

    input[type="text"],
    input[type="password"] {
      margin:0 auto;
      padding:19px 0 19px 35px;
      border:1px solid $borderOne;
    }


    /* Break Point */
   @include breakpoint($smartPhone) {
      input[type="submit"] {
        width:230px;
      }

      input[type="text"],
      input[type="password"] {
        width:265px;
      }
    }
  }
}
