
.navigation-region nav[role="navigation"] {
  position: absolute;
  top: 35px;
  left: 9px;
  width: 25px;
  height:25px;

  @include breakpoint($smallPhone) {
    top: 45px;
    left: 16px;
  }

  @include breakpoint($mediumSmartPhone) {
    top: 50px;
  }
}



#collapsed-menu-button {
   background-color: $aMHover;
   border: 0px solid $aMHover;
   border-radius:0px;
   cursor: pointer;
   margin:0;
   padding:0;
}

body #mobile-menu-wrapper #mobile-menu-inner {
  top: 85px !important;
}
.mobile-menu-button {
  display:block;
  @include icon-mobile-menu;
  font-size:25px;
  height:25px;
  width:25px;
  overflow:hidden;
  color:$aMNormal;
}

#mobile-menu li, .mobile-menu li {
  border: 0px solid $aMBackGround;
}

.mobile-menu-slide li a,
.mobile-menu-slide li a:focus,
.mobile-menu-slide li a:visited {
  display:block;
  padding:12px 5% 12px 5% !important;
  color:$a2MNormal;
  background-color:$aMBackGround;
  font-size:20px;
}

.mobile-menu-slide li a.active-trail,
.mobile-menu-slide li a:hover {
  color:$a2MHover;
}


@include breakpoint($largeSmartPhone) {
  .navigation-region nav[role="navigation"] {
    position:relative;
    top:auto;
    left:auto;
    width:100%;
    height:inherit;
  }

  .navigation-region  ul.menu{
    float:left;
    padding: 30px 0 30px 0;
    margin:0;
  }

  .navigation-region  ul.menu li {
      float: left;
      padding-right: 30px;
      margin: 0;
  }

  .navigation-region  ul.menu li a{
    display:block;
    width:140px;
    padding:10px 0px 10px 0;
    font-size:20px;
    background-color:$aMBackGround;
    color:$aMNormal;
    text-align:center;
    @include border-radius(5px);
  }

  .navigation-region  ul.menu li a.active-trail,
  .navigation-region  ul.menu li a:hover {
    color:$a2MHover;
  }
}
