
nav[role="navigation"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: $backgroundMNav;
  height:25px;
}

#mobile-menu-inner {
  top: 24px !important;
}
.mobile-menu-button {
 @include icon-mobile-menu;
 background-color:red;
}

@include breakpoint($largeSmartPhone) {
  nav[role="navigation"] {
    position:inherit;
    background: $backgroundNav;
  }
}
