#search-block-form {
	padding:20px 0 20px 0;
	width: 225px;
	margin: 0 auto;
	input[type="text"] {
		width:180px;
	}
	input[type="submit"] {
		padding:5px;
		border: 0;
		font-size: 1.5em;
		vertical-align: top;
		font-family: 'FontAwesome';
	}
	clear:left;
	@include breakpoint($smartPhone) {
		clear:none;
		float:right;
		padding-top:32px;
	}

}
