//-- Body
$baseFontFamily:'arial';
$baseFontSize:'14px';
$baseLineHeight:'16px';
$textColor:gray;
$bodyBackground:white;


//-- Links
$linkColor:orange;
$linkColorHover:orange;
$linkColorActive:orange;
