//-- Body
$baseFontFamily:'arial';
$baseFontSize:'14px';
$baseLineHeight:'16';
$textColor:'grey';
$bodyBackground:'white';


//-- Links
$linkColor:'orange';
$linkColorHover:'orange';
$linkColorActive:'orange';
