/**
 *  12 columns
 */
//*
$grids: 12;
$gutters: 1/3;
//*/

/**
 *  14 columns
 */
/*
$grids: 16;
$gutters: 1/4;
//*/


/**
 *  Break Points Varibles
 */
 /** Small Smart phone width **/
$smallPhone :300px;

/** Medium smart phone width **/
$mediumSmartPhone :480px;

/** Smart phone width **/
$smartPhone :600px;

/** Large smart phone width **/
$largeSmartPhone:768px;

/** Tablet width **/
$tablet:960px;

/** Small destop screen width **/
$smallDesktop:1020px;

/** Small Desktop width **/
$mediumDesktop:1190px;

/** Desktop width **/
$desktop:1360px;

/** Desktop width **/
$wideDesktop:1800px;
