//-- Body
$baseFontFamily:'Raleway', sans-serif;
$baseFontSize:14px;
$baseLineHeight:18px;


//-- Link height
$mobileLinkHeight:18px;
$tabletLinkHeight:18px;
$destopLinkHeight:18px;

$mobileSLinkHeight:18px;
$tabletSLinkHeight:18px;
$destopSLinkHeight:18px;
