//-- Body
$baseFontFamily:'Raleway', sans-serif;
$baseFontSize:13px;
$baseLineHeight:18px;

$verySmallFontSize:9px;
$smallFontSize:12px;
$mediumFontSize:15px;


//-- Link height
$mobileLinkHeight:18px;
$tabletLinkHeight:18px;
$destopLinkHeight:18px;

$mobileSLinkHeight:18px;
$tabletSLinkHeight:18px;
$destopSLinkHeight:18px;

//-- Content tabs
$tabsPrimary:13px;


