#pnc-help{
	position:fixed; 
	top:10px; 
	left:0;
	padding-top:10px;
}
.help-slide {
	margin-left:-250px;
	width:250px;
	height:400px;
}
.help-slide-c {
	display:block;
	position: absolute;
	@include  icon-question-sign;
	font-size:18px;
	left: -90px;
	text-align:center;
	-ms-transform: rotate(-90deg); /* IE 9 */
	-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
	transform: rotate(-90deg);
	margin-top:-230px;
	height:20px;
	width:200px;
	border-radius: 0 0 50px 50px;
	padding:5px;
}


.help-cont {
	padding:25px 0 0 25px;
	font-size:16px;
	h2 {
		color:white;
		font-weight:600;
	}
	ol,
	ul {
		margin-left:0;
		padding-left:0;
		li {
			list-style-position: inside;
			font-size:14px;
		}
	}
	p {
		font-size:14px;
	}

}
.help-slide,
a.help-slide-c:hover,
a.help-slide-c:visited,
a.help-slide-c{
	color:white;
	background-color: orange;
	text-decoration: none;
}