#pnc-help{
	position:fixed; 
	top:0; 
	left:0;
	bottom:0;
	//	padding-top:10px;
}

.help-slide {
	margin-left:-1000%;
	width:1000%;
	min-height:400px;

}


@include breakpoint($largeSmartPhone) { 
	.help-slide {
		margin-left:-360px;
		width:360px;
	}
}

.help-slide-c {
	display:block;
	position: absolute;
	@include  icon-question-sign;
	font-size:18px;
	left: -95px;
	text-align:center;
	-ms-transform: rotate(-90deg); /* IE 9 */
	-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
	transform: rotate(-90deg);
	margin-top:-230px;
	height:20px;
	width:200px;
	border-radius: 0 0 50px 50px;
	padding:5px;
}

.h-slide-mobile {
	display:block;
	font-size:10px;
	color:white;
	height:20px;
	padding:5px;
}


@include breakpoint($largeSmartPhone) { 
	.h-slide-mobile {
		display:none;
	}
	.help-slide-c {
		left: -90px;
	}
}

.help-cont {
	padding:35px 0 0 25px;
	font-size:16px;
	margin:0 auto;
	h2 {
		padding-bottom: 10px;
		color:white;
		font-weight:500;
	}
	ol,
	ul {
		margin-left:0;
		padding-left:0;
		li {
			list-style-position: inside;
			font-size:14px;
		}
	}
	p {
		font-size:14px;
	}

}
.help-slide,
a.help-slide-c:hover,
a.help-slide-c:visited,
a.help-slide-c{
	color:white;
	background-color: orange;
	text-decoration: none;
}