.page-user div[role="main"] {
	@include breakpoint($largeSmartPhone) {
	  padding:10px;
	}
	
}
body:not(.node-type-page) div[role="main"] {
	width:100%;
}

body:not(.node-type-page) .sidebar-second,
body:not(.node-type-page) .sidebar-first {
	display:none;
}


