
@mixin contentThreeColumnDefault($elements:'') {
	#{$elements} div[role="main"] {
		article {padding:5px 0px 5px 0;}

		@include breakpoint($largeSmartPhone) {
			@include grid-span(5, 4);
			article {
				padding:5px;
			}
		}
		@include breakpoint($tablet) {}
		@include breakpoint($smallDesktop) {}
		@include breakpoint($mediumDesktop) {}
		@include breakpoint($desktop) {}
		@include breakpoint($wideDesktop) {}
	}


	#{$elements} .sidebar-first {
		//background-color: orange;
		@include grid-span(12, 1);


		@include breakpoint($smartPhone) {
			@include grid-span(6, 1);
			padding:5px 0 5px 5px;
		}
		@include breakpoint($largeSmartPhone) {
			@include grid-span(3, 1);
		}
		@include breakpoint($tablet) {}
		@include breakpoint($smallDesktop) {}
		@include breakpoint($mediumDesktop) {}
		@include breakpoint($desktop) {}
		@include breakpoint($wideDesktop) {}
	}

	#{$elements} .sidebar-second {
		@include grid-span(12, 1);
		@include breakpoint($smartPhone) {
			@include grid-span(6, 7);
			padding:5px 0 5px 5px;
		}
		@include breakpoint($largeSmartPhone) {
			@include grid-span(3, 10);
		}
		@include breakpoint($tablet) {}
		@include breakpoint($smallDesktop) {}
		@include breakpoint($mediumDesktop) {}
		@include breakpoint($desktop) {}
		@include breakpoint($wideDesktop) {}
	}
}
/*
@include contentThreeColumnDefault('.front');
//*/

