.page,
.navigation,
header[role="banner"]{
	padding:0 5px 0 5px;
	clear:both;
}

@include breakpoint($smallDesktop) {
	.page,
	.navigation,
	header[role="banner"] {
	   width:1020px;
	   margin:0 auto;
	}
}