@mixin userLoginSingleColumnDefault() {
	.page-user #main-content {
		float:none;
		margin:0 auto;
		padding-bottom:20px;
	}
	@include breakpoint($largeSmartPhone) {

		.page {
			position:relative;
		}

		//-- overrides to main content
		div[role="main"] {
			float:none;
			margin: 0 auto;
		}  

		#main-content {
			width: 680px;
			min-height: 540px;
		}
	}
}