/**
 * Site Layout
 */

@include contentSingleColumnDefault('.page-our-gallery');
/*
@include contentThreeColumnDefault('.front');
@include contentThreeColumnDefault('.not-front');
//*/
/*
@include contentTwoLeftColumnDefault('.front');
@include contentTwoLeftColumnDefault('.not-front');
//*/
//*
@include contentTwoRightColumnDefault('.front');
@include contentTwoRightColumnDefault('.not-front');
//*/


/**
 * Titles
 */
h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	padding:0px;
	margin:0;
}
.admin-menu .ph-container {
	display:none;
}

/**
 * Menu
 */
@include breakpoint($largeSmartPhone) {
	.siteinfo {
		figure {
			background-color: white;
		}
	}
	div.siteinfo hgroup {
		display:block;
	}
	.admin-menu .ph-container {
		display:block;
	}


	.navigation {
		display: block;
		position: absolute;
		top: 68px;
		right: 0;
		left: 0px;

		ul.menu {
			padding-left: 60px;
		}
	}

	.admin-menu .navigation {
		top: 85px;
		right: 0px;
		left: 0px;
	}
}


/**
 * Page
 */
@include breakpoint($largeSmartPhone) {
	.page {
		padding-top: 40px;
	}
}

/**
 * Footer 
 */
@include breakpoint($largeSmartPhone) {
	footer[role="contentinfo"] .copy-right div {
		width: 55%;
	}
} 